LOGO_COLOR PNG "Logos\LogoColorWide.png"
LOGO_COLOR_INVERT PNG "Logos\LogoColorInvertWide.png"
LOGO_COLOR_INVERT_WIDE PNG "Logos\LogoColorInvertWide.png"
LOGO_COLOR_WIDE PNG "Logos\LogoColorWide.png"
