LOGO_COLOR JPG "Logos\LogoColor.jpg"
LOGO_COLOR_INVERT JPG "Logos\LogoColorInvert.jpg"
LOGO_COLOR_INVERT_WIDE JPG "Logos\LogoColorInvertWide.jpg"
LOGO_COLOR_WIDE JPG "Logos\LogoColorWide.jpg"
LOGO_COLOR_LEFT JPG "Logos\LogoLeft.jpg"
LOGO_COLOR_RIGHT JPG "Logos\LogoRight.jpg"
